@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 93%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 93%;

    --border: 214.3 4% 60%;
    --input: 214.3 4% 60%;

    --primary: 0 0% 93%;
    --primary-foreground: 0 0% 4%;

    --secondary: 0 0% 4%;
    --secondary-foreground: 0 0% 93%;

    --accent: 49 100% 50%;
    --accent-foreground: 0 0% 4%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* Custom */
    --redish: 348 90% 60%;
    --redish-end: 350 85% 55%;
    --redish-border: 350 85% 70%;

    --redpurple: 356 89% 59%;
    --redpurple-end: 247 44% 40%;
    --redpurple-border: 247 44% 60%;

    --blueish: 246 98% 39%;
    --blueish-end: 329 63% 54%;
    --blueish-border: 247 44% 60%;

    /* Main - Yellow */
    --main-100: 47 91% 78%;
    --main-200: 47 92% 76%;
    --main-300: 47 94% 69%;
    --main-400: 47 95% 59%;
    --main-500: 47 100% 49%;
    --main-600: 43 100% 40%;
    --main-700: 40 91% 36%;
    --main-800: 40 90% 28%;
    --main-900: 40 87% 25%;

    /* Dog - Gray */
    --dog-50: 60 8% 95%;
    --dog-100: 60 9% 85%;
    --dog-200: 65 9% 75%;
    --dog-300: 67 9% 65%;
    --dog-400: 65 10% 55%; /* #959781 */
    --dog-500: 68 10% 45%; /* #7b7e68 */
    --dog-600: 67 9% 35%; /* #606251 */
    --dog-700: 70 9% 25%; /* #44463a */
    --dog-800: 69 9% 15%; /* #292a23 */
    --dog-900: 60 8% 5%; /* #0e0e0c */

    /* Alert - Red */
    --alert-100: 350 90% 85%;
    --alert-200: 350 85% 74%;
    --alert-300: 350 88% 62%;
    --alert-400: 350 83% 54%;
    --alert-500: 350 89% 53%;
    --alert-600: 350 90% 36%;
    --alert-700: 350 90% 32%;
    --alert-800: 350 89% 22%;
    --alert-900: 350 95% 15%;

    /* Success - Green */
    --success-100: 154 53% 74%; /* #98dfc0 */
    --success-200: 153 57% 56%; /* #4ecf96 */
    --success-300: 154 82% 37%; /* #11ab67 */
    --success-400: 154 84% 33%; /* #0d9a5c */
    --success-500: 153 100% 25%; /* #008148 */
    --success-600: 154 96% 21%; /* #026b3d */
    --success-700: 154 96% 17%; /* #025732 */
    --success-800: 154 92% 15%; /* #034c2c */
    --success-900: 154 100% 9%; /* #002c19 */
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply relative bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e1e7ef' fill-opacity='0.03'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .arrow-hide::-webkit-inner-spin-button {
    -webkit-appearance: "none";
    margin: 0;
  }

  .arrow-hide::-webkit-outer-spin-button {
    -webkit-appearance: "none";
    margin: 0;
  }
}

mux-player {
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  /* --mute-button: none; */
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-selectmenu: none;
}
